html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #779ECC;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  margin: 0;
  overflow-x: auto;
  overflow-y: auto;
  padding: 0;
  right: 0;
  top: 0;
  width: 100vw;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 720px;
}

header {
  margin: 0;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
}

h1, h2, h3 {
  font-weight: 400;
  letter-spacing: 3px;
}


.MainHeader {
  background-color: #779ECC;
  color: white;
  display: flex;
  font-family: helvetica, sans-serif;
  font-size: 48px;
  font-weight: 100;
  height: 100%;
  justify-content: center;
  letter-spacing: 16px;
  text-align: center;
  width: 720px;
}

.SubHeader {
  background-color: white;
  display: flex;
  font-family: helvetica, sans-serif;
  height: 55px;
  justify-content: center;
  letter-spacing: 3px;
  opacity: 0.7;
  text-align: center;
}

.div1style {
  background-color: #f7c772;
  background-image: url("images/yellow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 50%;
  font-family: helvetica, sans-serif;
  height: 800px;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 720px;
  z-index: 0;
}

.div2style {
  background-color: #779ECC;
  display: flex;
  flex: 50%;
  flex-direction: column;
  font-family: helvetica, sans-serif;
  height: 800px;
  position: relative;
  text-align: center;
  width: 720px;
  z-index: 0;
}


.div3style {
  background-color: #779ECC;
  background-image: url("images/blue2.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 40%;
  height: 320px;
  position: relative;
  z-index: 1;
}

.div4style {
  background-color: #779ECC;
  background-image: url("images/lemon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 60%;
  flex-direction: column;
  height: 480px;
  justify-content: flex-start;
  position: relative;
  z-index: 1;
}

.form-popout {
  background-image: url("images/banana.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  left: 0;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.form {
  align-items: center;
  color: white;
  margin: auto;
  opacity: 1;
  position: relative;
  width: 100%;
  z-index: 3;
}

.form input {
  background-color: white;
  border: 2px solid white;
  font-size: 15px;
  height: 20px;
  width: 100%;
}

.FormTable {
  background-color: transparent;
}

.FormTable td, th {
  background-color: transparent;
}

.CheckoutTable th {
  background-color: #f7c772;
  color: black;
}

.CheckoutButtons {
  background-color: white;
  border: 2px solid #f7c772;
  color: black;
  cursor: pointer;
  font-size: 18px;
  height: 60px;
  opacity: 0.9;
  padding: 15px 32px;
  position: relative;
  text-align: center;
  transition-duration: 0.3s;
  width: 45%;
  z-index: 3;
}

.CheckoutButtons:hover {
  background-color: #f7c772;
  color: white;
}

#img0 {
  max-height: 255px;
  max-width: 700px;
}

#placeholder {
  max-height: 475px;
  max-width: 700px;
}

.icon {
  left: 15%;
  max-height: 130px;
  max-width: 130px;
  opacity: 0.8;
  position: absolute;
  top: 50%;
}

#AddItem {
  bottom: 10%;
  position: absolute;
  right: 5%;
  width: 45%
}

#amountVal {
  background-color: #779ECC;
  border: 2px solid #779ECC;
  color: white;
  font-weight: bold;
}

#CartEmpty {
  background-color: white;
  margin: auto;
  opacity: 0.9;
  width: 65%;
}

.img {
  display: block;
  margin: auto;
}

.button {
  background-color: white;
  border: 2px solid #779ECC;
  color: black;
  cursor: pointer;
  font-size: 18px;
  height: 60px;
  opacity: 0.9;
  padding: 15px 32px;
  text-align: center;
  transition-duration: 0.3s;
  width: 45%;
}

.button:hover {
  background-color: #779ECC;
  color: white;
}

#TopFrame {
  position: relative;
}

.CartButtons {
  position: relative;
}

.detailTable {
  border-collapse: collapse;
  height: 30px;
}

table {
  background-color: white;
  border-collapse: collapse;
  margin: auto;
  width: 90%;
}

table, td, th {
  background-color: white;
  border: none;
  height: 30px;
  opacity: 0.9;
  padding: 2px 5px;
  text-align: left;
}

th {
  background-color: #779ECC;
  color: white;
}

.ProductName, .Product {
  width: 34%;
}

.ProductPrice, .CartAmount, .CartPrice, .UPAMTP {
  width: 22%;
}

.tdName {
  width: 20%;
}

.tdInput {
  width: 80%;
}
