
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  outline: 2px solid #FFFFFF;
  display: flex;
  flex-direction: row;
}

h1 {
  background-color: white;
}


.MainHeader {
  background-color: #C5B4EA;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: helvetica, sans-serif;
  outline: 2px solid #FFFFFF;
  height: 80px;
}

.SubHeader {
  background-color: white;
  font-family: helvetica, sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
  opacity: 0.9;
  height: 50px;

}

.div1style {
  background-color: #2471A3;
  outline: 2px solid #FFFFFF;
  flex: 50%;
  height: 800px;
  background-image: url("images/yellow.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: helvetica, sans-serif;
  justify-content: center;
  text-align: center;


}

.div2style {
  background-color: #45B39D;
  flex: 50%;
  height: 800px;
  display: flex;
  flex-direction: column;
  font-family: helvetica, sans-serif;
  justify-content: center;
  text-align: center;
}

.div3style {
  background-color: #2471A3;
  outline: 2px solid #FFFFFF;
  flex: 40%;
  background-image: url("images/blue2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.div4style {
  background-color: #2471A3;
  outline: 2px solid #FFFFFF;
  flex: 60%;
  background-image: url("images/lemon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: scroll;
}

#img0 {
  max-width: 700px;
  max-height: 255px;
  margin-left: 20px;
}

#placeholder {
  max-width: 700px;
  max-height: 475px;
  margin-left: 20px;

}

.img {
  display: block;
  margin: auto;

}

.button {
  background-color: white;
  color: black;
  padding: 15px 32px;
  width: 50%;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  transition-duration: 0.3s;
  cursor: pointer;
  border: 2px solid #C5B4EA;
  opacity: 0.9;
}

.button:hover {
  background-color: #C5B4EA;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, td, th {
  border: 2px solid #C5B4EA;
  padding: 5px;
  background-color: white;
  text-align: left;
  height: 20px;
  opacity: 0.9;
}

th {
  background-color: #C5B4EA;
}

area {
  cursor: pointer;
}
