body {
    background-color: powderblue;
    font-family: sans-serif;
  }
  h1 {
    color: rgb(58, 7, 14);
  }
  h2 {
    color: rgb(58, 7, 14);
  }
  image {
    height: 100%;
  }
  div {
    overflow:auto;
    padding: 20px;
  }
  p {
    color: black;
  }

  .img0 {
    max-width: 593px;
    max-height: 183px;
    display: block; 
    /* wont modify proportions */
  }

  .div1 {
    background: rgb(230, 211, 211);
    position:absolute;
    top:0px;
    left:0px;
    width:600px;
    height:620px;
  }
  
  .div2 {
    background: rgb(255, 255, 216);
    position: absolute;
    top:0px;
    left:640px;
    width:450px; 
    height:290px;
  }
  
  .div3 {
    background: rgb(223, 238, 223);
    position: absolute;
    top:330px;
    left:640px;
    width:450px;
    height:290px;
  }

/* .sticky{
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #d2e4d2;
} */
/* if i want sticky checkout thing */

.purchaseform {
  background-color: rgb(228, 228, 228); 
}